<div>
  <div class="content">
    <img
      class="avatar-image"
      alt="Profile Avatar"
      src="../../../assets/images/avatar-cropped.png"
    />
    <div class="about-section">
      <span class="about-header">About Me</span>
      <span class="about-text">
        Since graduating in 2017 with a B.S. in Computer Science, I have focused
        my professional career on Angular development. In college I interned at
        the San Diego Supercomputer Center with a focus on the HPC Challenge
        Benchmark suite.
      </span>
      <span class="about-text">
        After graduating, I worked at SAIC developing an AngularJS and Java
        based application, then in 2018 began working at Illumina. At Illumina I
        work with graphic designers to create robust and reliable features. When
        I am not writing code, I like to spend my time drawing, reading, and
        hiking.
      </span>
    </div>
  </div>
</div>
