<div class="jumbotron jumbotron-color">
    <h1 class="display-3 about-me-name">BRIANA WRIGHT</h1>
    <p class="lead">San Diego, CA <span class="fas fa-ellipsis-h fa-xs purple-icon"></span> 619-884-9661 <span class="fas fa-ellipsis-h fa-xs purple-icon"></span> brianametta@gmail.com</p>
    <hr class="my-4">
    <p>
        San Diego based Software Engineer with a background in high performance computing using MPI, shell scripts, visualization applications (ParaView and Python), 
        password crackers (Hashcat).
    </p>
    <p>
        My strongest skills are in web development using AngularJS in an Agile team. 
        I am interested in opportunities that would allow me to learn new web frameworks or branch out in to mobile development.
    </p>
    <p>
        My passion is challenging myself by exploring and learning new languages and frameworks, as well as being a positive change agent in companies and teams.
    </p>
    <p class="lead">
        <a href="https://www.linkedin.com/in/briana-m-wright/"><span class="fab fa-linkedin fa-2x"></span></a>
        <a href="https://github.com/brianametta"><span class="fab fa-github fa-2x"></span></a>
        <a href="mailto:brianametta@gmail.com"><span class="fas fa-envelope fa-2x"></span></a>
    </p>
</div>