<h1 class="section-spacing">Education</h1>
<div class="container-fluid">
    <img class="image-sizing section-spacing" src="assets/img/lovelibrary.JPG" alt="">
    <div class="row">
        <h3 class="blue-header-color">San Diego State University</h3>
    </div>
    <div class="row">
        <h4>Computer Science</h4>
    </div>
    <div class="row">
        <h5>Bachelor of Science</h5>
    </div>
    <div class="row">
            <h6>Graduated May 2017</h6>
        </div>
    <div class="row">
        <h6>GPA: 3.3</h6>
    </div>
</div>