<h1 class="experience-section-spacing">Experience</h1>
<div class="container-fluid">
    <div class="row">
        <h3 class="experience-header-color">Software Engineer</h3>
    </div>

    <div class="row">
        <h5>August 2017 - Present</h5>
    </div>
    <div class="row">
        <h4>SAIC</h4>
    </div>
    <div class="row form-group experience-section-spacing">
        <ul class="fa-ul">
            <li><i class="fa-li far fa-circle purple-icon"></i>Refactoring legacy application to a RESTful AngularJS/MongoDB/Java architecture</li>
            <li><i class="fa-li far fa-circle purple-icon"></i>Designing and implementing AngularJS and Bootstrap-based user interface on Agile/Scrum team</li>
            <li><i class="fa-li far fa-circle purple-icon"></i>Consulting with client in demos to produce user stories and requirements</li>
            <li><i class="fa-li far fa-circle purple-icon"></i>Board member of SAIC Women's Business Resource Group</li>
        </ul>
    </div>

    <div class="row">
        <h3 class="experience-header-color">REU Internship</h3>
    </div>
    <div class="row">
        <h5>February 2017 - June 2017</h5>
    </div>
    <div class="row">
        <h4>San Diego Super Computer Center</h4>
    </div>
    <div class="row form-group experience-section-spacing">
        <ul class="fa-ul">
            <li>
                <i class="fa-li far fa-circle purple-icon"></i>Analyzed performance and optimal input parameters of 
                <a href="http://icl.cs.utk.edu/hpcc/">7 high performance computing benchmarks</a> 
                including Linpack, DGEMM, and STREAM on cluster Comet
            </li>
            <li><i class="fa-li far fa-circle purple-icon"></i>Strengthened ability to create and submit batch jobs using SLURM manager, Bash, and MPI</li>
            <li>
                <i class="fa-li far fa-circle purple-icon"></i>Utilizing LaTeX document markup language to create research report and poster for display at the 
                <a href="https://www.pearc.org/">PEARC17 conference</a>
            </li>
        </ul>
    </div>
            
    <div class="row">
        <h3 class="experience-header-color">HPC Competition</h3>
    </div>
    <div class="row">
        <h5>April 2016 - November 2016</h5>
    </div>
    <div class="row">
        <h4>San Diego State University</h4>
    </div>
    <div class="row form-group experience-section-spacing">
        <ul class="fa-ul">
            <li>
                <i class="fa-li far fa-circle purple-icon"></i>Built a small cluster with a team of 6 students. Team lead on ParaView, a visualization application that uses Python scripting
            </li>
            <li>
                <i class="fa-li far fa-circle purple-icon"></i>Analyzed large data sets to produce images and videos representing the data using Python and ParaView
            </li>
            <li>
                <i class="fa-li far fa-circle purple-icon"></i>Competed at the <a href="http://sc16.supercomputing.org/">2016 ACM/IEEE Supercomputing Conference</a>  
                against international teams of students in Salt Lake City, Utah
            </li>
            <li>
                <i class="fa-li far fa-circle purple-icon"></i>Worked with Hashcat and John the Ripper password cracking applications
            </li>
        </ul>
    </div>
</div>