<h1 class="experience-section-spacing">Experience</h1>
<div class="container-fluid">
    <div class="row">
        <h3 class="experience-header-color">Software Engineer</h3>
    </div>
    <div class="row">
        <h5>August 2017 - Present</h5>
    </div>
    <div class="row">
        <h4>SAIC</h4>
    </div>
    <div class="row form-group experience-section-spacing">
        <h5>Lorem ipsum</h5>
    </div>



    <div class="row">
        <h3 class="experience-header-color">REU Internship</h3>
    </div>
    <div class="row">
        <h5>February 2017 - June 2017</h5>
    </div>
    <div class="row">
        <h4>San Diego Super Computer Center</h4>
    </div>
    <div class="row form-group experience-section-spacing">
        <p>Analyzed performance and optimal input parameters of 
            <a href="http://icl.cs.utk.edu/hpcc/">7 high performance computing benchmarks</a> 
            including Linpack, DGEMM, and STREAM on cluster Comet. 
            Strengthened ability to create and submit batch jobs using SLURM manager and MPI. 
            Utilizing LaTeX document markup language to create research report and poster for display at the 
            <a href="https://www.pearc.org/">PEARC17 conference</a> in New Orleans.
        </p>
    </div>
            
    <div class="row">
        <h3 class="experience-header-color">HPC Competition</h3>
    </div>
    <div class="row">
        <h5>April 2016 - November 2016</h5>
    </div>
    <div class="row">
        <h4>San Diego State University</h4>
    </div>
    <div class="row form-group experience-section-spacing">
        <p>Built a small cluster with a team of 6 students. Team lead on ParaView, a visualization application that uses Python scripting. 
                Analyzed large data sets to produce assets/img and videos. Also worked with Hashcat and John the Ripper password cracking applications. 
                Competed at the <a href="http://sc16.supercomputing.org/">2016 ACM/IEEE Supercomputing Conference</a> 
                against international teams of students in Salt Lake City, Utah.
        </p>
    </div>
</div>