body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  width: 100%;
  color: white;
  background-color: #212121; // #0a1110;
}

.content {
  width: 60%;
  margin: 5% auto;

  @media screen and (max-width: 768px) {
    width: 95%;
  }
}

.row {
  width: 100%;
  position: relative;
  text-align: center;
}
