.about-me-name {
    color: rgba(121, 69, 241, 0.658);
}

.experience-header-color {
    color: rgb(27, 111, 167);
}

.experience-section-spacing{
    padding-bottom: 20px;
}

.image-sizing {
    max-width: .2em;
    max-height: .2em;
    width: 100%;
}

.jumbotron-color {
    background-color: rgb(255, 255, 255);
}

.profile-image {
    max-width: 12rem;
    max-height: 12rem;
    margin-top: 150px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border:10px solid rgb(171, 238, 250); */
    border: 10px solid rgb(60, 130, 177);
    width: 100%;
}

.purple-icon {
    color: rgba(121, 213, 255, 0.788);
}

.topNav li {
    line-height: 40px;
    font-weight: 200;
    font-size: 1.2em;
}

.topNav li a {
    display: block;
    text-decoration: none;
    color: #e0e0e0;
}

.topNav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(121, 213, 255, 0.788);
}

.typing-gif {
    max-width: 12rem;
    max-height: 12rem;
    display: block;
    border: 5px solid rgb(136, 136, 136);
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}