.profile-image {
    max-width: 12rem;
    max-height: 12rem;
    margin-top: 150px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border:10px solid rgb(171, 238, 250); */
    border: 10px solid rgb(60, 130, 177);
    width: 100%;
}

.about-me-name {
    color: rgba(121, 69, 241, 0.658);
}

.purple-icon {
    color:rgba(121, 69, 241, 0.658);
}

.typing-gif {
    max-width: 12rem;
    max-height: 12rem;
    display: block;
    border: 5px solid rgb(136, 136, 136);
    width: 100%;
}